@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>    
</div>


    <center>
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="img/login.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Identificarse</h5>
                    <p class="card-text">¿Cómo deseas entrar al portal?</p>
                    <button type="button" class="btn btn-outline-primary">Alumno</button>
                    <button type="button" class="btn btn-outline-primary">Administrador</button>
                </div>
            </div>
        </div>
    </center>






    

   
