@model AlkemyChallange.Models.Teacher

@{
    ViewData["Title"] = "Delete";
}

<center><h5>¿Está seguro que desea borrar este profesor?</h5></center>
<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <center>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(model => model.Name)      @Html.DisplayFor(model => model.LastName)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.DNI)</h6>
                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.isActive)
                            @if (Model.isActive)
                            {

                                <span class="badge badge-success badge-success-alt">
                                    Si
                                </span>
                            }
                            else
                            {

                                <span class="badge badge-danger badge-success-alt">

                                    No
                                </span>
                            }
                        </p>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="TeacherId" />
                            <p>
                                <a asp-action="Index" class="btn btn-outline-secondary" title="volver"><i class="fas fa-arrow-circle-left"></i> Volver</a> 
                                <input type="submit" value="Borrar" class="btn btn-danger" />

                            </p>
                        </form>
                    </div>
                </div>
            </center>

        </div>
    </div>
</div>


